/*
!/.gitignore
!/.env.example
!/README.md
!/LICENSE.my-pi-setup
!/extensions/
!/npm/
!/package-lock.json
!/package.json
!/scripts/
!/settings.json
!/themes/
!/tsconfig.json
**/node_modules/
**/.venv/
**/__pycache__/
**/.cache/
**/.runtime/
*.log
